
<p style="color: green"><%= notice %></p>



<div class="card text-center">
  <div class="card-header">
    Student card
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @student.name %> <%= @student.last_name %></h5>
    <p class="card-text"> Student id: <%= @student.id %></p>
    <p class="card-text"> Student email: <%= @student.email %></p>

    <%= link_to "Edit this student", edit_student_path(@student), class:"btn btn-secondary" %>
  </div>
  <div class="card-footer text-body-secondary">
    
  </div>
</div>

<div>

  <%= link_to "Edit this student", edit_student_path(@student) %> |
  <%= link_to "Back to students", students_path %>

  <%= button_to "Destroy this student", @student, method: :delete %>
</div>
