

<div id="<%= dom_id datum %>">
  <p>
    <strong>First name:</strong>
    <%= datum.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= datum.last_name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= datum.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= datum.email %>
  </p>

</div>

