<p style="color: green"><%= notice %></p>

<%= render @datum %>

<div>
  <%= link_to "Edit this datum", edit_datum_path(@datum) %> |
  <%= link_to "Back to data", data_path %>

  <%= button_to "Destroy this datum", @datum, method: :delete %>
</div>


<div class="card text-center">
  <div class="card-header">
    Student card
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= student.name %> <%= student.last_name %></h5>
    <p class="card-text"> Student id: <%= student.id %></p>
    <%= link_to "Edit this student", edit_student_path(@student), class:"btn btn-secondary" %>
  </div>
  <div class="card-footer text-body-secondary">
    <%= student.email %>
  </div>
</div>